DATABASE_URI=mongodb://localhost:27017/default
PAYLOAD_SECRET=Ogs7SitxwygZIWuw
PREVIEW_SECRET=mUHprnyMFRAPczMf
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
BLOB_ENABLED=
BLOB_READ_WRITE_TOKEN=
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=default
SMTP_PASSWORD=secret
MAIL_DEFAULT_FROM_ADDRESS="noreply@hamptonshomemgmt.com"
MAIL_DEFAULT_FROM_NAME="Hamptons Property Management Services"
MAIL_ADMIN_ADDRESS="info@hamptonshomemgmt.com"
NEXT_PUBLIC_GTM_ID=
